# Trained models and artifacts
artifacts/
artifacts_run*/
artifacts-EfficientNet-1500/
artifacts-MobileNet-1500/
artifacts-MobileNet-200/

# Dataset (too large for GitHub)
Data/
Data2/
Data200/
Data1500/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Virtual environments
asl_env/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
*.ipynb_checkpoints

# IDE
.vscode/
.idea/